@charset "UTF-8";
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Georgia-BoldItalic.woff") format("woff"), url("../assets/fonts/Georgia-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia-Italic.woff2") format("woff2"), url("../assets/fonts/Georgia-Italic.woff") format("woff"), url("../assets/fonts/Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia.woff") format("woff"), url("../assets/fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia-Bold.woff2") format("woff2"), url("../assets/fonts/Georgia-Bold.woff") format("woff"), url("../assets/fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial-ItalicMT.woff2") format("woff2"), url("../assets/fonts/Arial-ItalicMT.woff") format("woff"), url("../assets/fonts/Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial-BoldMT.woff2") format("woff2"), url("../assets/fonts/Arial-BoldMT.woff") format("woff"), url("../assets/fonts/Arial-BoldMT.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/ArialMT.woff2") format("woff2"), url("../assets/fonts/ArialMT.woff") format("woff"), url("../assets/fonts/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
p {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Georgia", serif;
  font-weight: normal;
  font-style: normal;
  color: #C4C4C4;
  overflow-x: hidden;
}

body.hidden-overflow-y {
  overflow-y: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}
@media screen and (max-width: 1279px) {
  .wrapper {
    min-width: 708px;
    width: auto;
    margin: 0 3rem;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    min-width: 300px;
    width: auto;
    margin: 0 1rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title_gray {
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.section-title_white {
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.button {
  height: 5.2rem;
  padding: 0 4.5rem;
  border: none;
  border-radius: 10rem;
  color: #292929;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button:hover {
  background-color: #FDDCC4;
}

.button_border {
  padding: 0 4.3rem;
  background: none;
  border: 2px solid #F1CDB3;
}

.button_colored {
  background-color: #F1CDB3;
}

.button_ico {
  display: inline-block;
  background: no-repeat center;
  height: 5.2rem;
  width: 5.2rem;
  padding: 0;
  border-radius: 50%;
}

.wrapper-popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(41, 41, 41, 0.6);
  z-index: 5;
  display: none;
  cursor: pointer;
}
.wrapper-popup_active {
  display: flex;
}

.popup {
  position: relative;
  margin: 0 auto;
  width: 90rem;
  height: 50rem;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  z-index: 6;
}
@media screen and (max-width: 1279px) {
  .popup {
    width: 63rem;
    height: 35rem;
  }
}
@media screen and (max-width: 767px) {
  .popup {
    width: 24rem;
    height: 34.1rem;
  }
}
.popup__btn {
  position: absolute;
  left: 89rem;
  top: -5.2rem;
  background-image: url("../assets/icons/close.svg");
}
.popup__btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  cursor: pointer;
}
@media screen and (max-width: 1279px) {
  .popup__btn {
    left: 62rem;
  }
}
@media screen and (max-width: 767px) {
  .popup__btn {
    left: 22rem;
  }
}
.popup__img {
  height: 100%;
}
@media screen and (max-width: 1279px) {
  .popup__img {
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .popup__img {
    display: none;
  }
}
.popup__content {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin: 5rem 3rem 2rem;
  color: #000000;
  width: 35.1rem;
}
@media screen and (max-width: 1279px) {
  .popup__content {
    row-gap: 2rem;
    margin: 1rem 1rem 0;
    width: 26rem;
  }
}
@media screen and (max-width: 767px) {
  .popup__content {
    width: 24rem;
  }
}
@media screen and (max-width: 767px) {
  .popup__headers {
    align-self: center;
  }
}
.popup__name {
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popup__breed {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 1rem;
  color: #000000;
}
.popup__description {
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  color: #000000;
}
@media screen and (max-width: 1279px) {
  .popup__description {
    font-size: 1.3rem;
  }
}
.popup__items {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-inline-start: 0;
}
@media screen and (max-width: 1279px) {
  .popup__items {
    row-gap: 0.5rem;
  }
}
.popup__item {
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  color: #000000;
  list-style-type: none;
}
.popup__item:before {
  color: #F1CDB3;
  content: "•";
  padding-right: 7px;
}
.popup__item .bold {
  font-weight: 700;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  transition: flex 0.5s ease;
}
@media screen and (max-width: 1279px) {
  .wrapper-header {
    padding-top: 3rem;
  }
}

.logo {
  position: relative;
  left: 0;
  width: 18.6rem;
  z-index: 4;
  transition: all 0.5s;
}
.logo:hover {
  transform: scale(1.05);
}
.logo__title {
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.logo__subtitle {
  font-family: "Arial";
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.13rem;
  padding-top: 1rem;
  padding-left: 0.4rem;
  color: #FFFFFF;
}
.logo_burgered {
  left: calc(100vw - 31rem);
}

span.burger__btn {
  display: inline-block;
  background: no-repeat center;
  height: 2.2rem;
  width: 3rem;
  background-image: url("../assets/icons/burger.svg");
  padding: 1rem 6.3rem 1rem 2rem;
  cursor: pointer;
  z-index: 4;
}
span.burger__btn_gray {
  background-image: url("../assets/icons/burger_gray.svg");
}
@media screen and (min-width: 1279px) {
  span.burger__btn {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  span.burger__btn {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  span.burger__btn {
    display: inline-block;
  }
}

.burger_open {
  animation: rotating-right 0.5s linear;
  animation-fill-mode: forwards;
}

.burger_close {
  animation: rotating-left 0.5s linear;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

@keyframes rotating-right {
  from {
    transform: none;
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotating-left {
  from {
    transform: none;
  }
  to {
    transform: rotate(90deg);
  }
}
.wrapper-burger {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  z-index: 2;
  justify-content: flex-end;
  display: none;
  cursor: pointer;
}
.wrapper-burger_active {
  display: flex;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
    position: absolute;
    align-items: center;
    top: 0;
    right: -100vw;
    transition: right 0.5s;
    background: #292929;
    height: 100vh;
    max-height: 200rem;
    width: 32rem;
    z-index: 3;
  }
}
.navigation_pets {
  background: #FFFFFF;
}
.navigation_burgered {
  right: 0;
  display: flex;
}
.navigation__items {
  display: flex;
  justify-content: space-between;
  padding-top: 0.7rem;
  display: flex;
  width: 44.3rem;
}
@media screen and (max-width: 767px) {
  .navigation__items {
    flex-direction: column;
    align-items: center;
    height: 32.7rem;
    width: 24.3rem;
    z-index: 3;
  }
}
.navigation__item {
  transition: 0.5s ease-in-out;
}
.navigation__item:hover {
  transform: scale(1.05);
}
.navigation__item.active {
  border-bottom: #F1CDB3 3px solid;
  transform: none;
}
.navigation__link {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
  color: #CDCDCD;
}
.navigation__link:hover {
  color: #FAFAFA;
}
.navigation__link:active {
  color: #FAFAFA;
}
.navigation__link.active {
  color: #FAFAFA;
}
@media screen and (max-width: 767px) {
  .navigation__link {
    font-family: "Arial";
    font-size: 3.2rem;
    line-height: 160%;
  }
}

.container-startscreen {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.wrapper-not-only {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  .wrapper-not-only {
    flex-direction: column;
    align-items: center;
  }
}

.not-only__image-div {
  padding-top: 6rem;
  align-self: flex-end;
}
@media screen and (max-width: 1279px) {
  .not-only__image-div {
    padding-top: 10rem;
  }
}
@media screen and (max-width: 767px) {
  .not-only__image-div {
    padding-top: 10.6rem;
    display: flex;
    justify-content: flex-end;
  }
}
.not-only__image {
  display: block;
}
@media screen and (max-width: 1279px) {
  .not-only__image {
    width: 56.9rem;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .not-only__image {
    max-width: 86%;
    width: auto;
  }
}
.not-only__content {
  padding-top: 22.4rem;
}
@media screen and (max-width: 1279px) {
  .not-only__content {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    margin: 0 18%;
  }
}
@media screen and (max-width: 767px) {
  .not-only__content {
    align-items: center;
    margin: 0;
  }
}
.not-only__title {
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF;
  width: 31rem;
}
@media screen and (max-width: 767px) {
  .not-only__title {
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 20rem;
    text-align: center;
  }
}
.not-only__subtitle {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
  width: 46rem;
  padding-top: 4rem;
  padding-bottom: 4.2rem;
  color: #CDCDCD;
}
@media screen and (max-width: 1279px) {
  .not-only__subtitle {
    padding-top: 4.1rem;
    min-width: 46rem;
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .not-only__subtitle {
    text-align: center;
    min-width: 30rem;
    max-width: 46rem;
  }
}
@media screen and (max-width: 1279px) {
  .not-only__btn {
    width: 208px;
    align-self: center;
  }
}

.wrapper-about {
  padding: 8rem 0 10rem;
  display: flex;
  justify-content: center;
  -moz-column-gap: 12rem;
       column-gap: 12rem;
}
@media screen and (max-width: 1279px) {
  .wrapper-about {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 8rem;
  }
}
@media screen and (max-width: 767px) {
  .wrapper-about {
    padding: 4.3rem 0 4.2rem;
    row-gap: 4.2rem;
  }
}

.about__content {
  width: 43rem;
  padding-top: 1.4rem;
}
@media screen and (max-width: 1279px) {
  .about__content {
    padding-top: 0;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media screen and (max-width: 767px) {
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    width: 90%;
  }
}
.about__title {
  width: 37rem;
}
@media screen and (max-width: 767px) {
  .about__title {
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: auto;
    color: #545454;
    text-align: center;
  }
}
.about__text {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
  margin-top: 2.5rem;
}
@media screen and (max-width: 767px) {
  .about__text {
    text-align: justify;
    margin-top: 2.4rem;
  }
}
@media screen and (max-width: 1279px) {
  .about__image {
    width: 30rem;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .about__image {
    width: 86%;
    max-width: 30rem;
  }
}

.our-friends {
  background-color: #F6F6F6;
}

.wrapper-our-friends {
  padding: 8rem 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .wrapper-our-friends {
    padding: 4.3rem 0 4.2rem;
  }
}

.our-friends__title {
  background-color: #F6F6F6;
  width: 40rem;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .our-friends__title {
    width: 30rem;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    color: #545454;
  }
}

.carousel {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 5.3rem;
       column-gap: 5.3rem;
}
@media screen and (max-width: 1279px) {
  .carousel {
    -moz-column-gap: 1.2rem;
         column-gap: 1.2rem;
  }
}
@media screen and (max-width: 767px) {
  .carousel {
    width: 27rem;
    padding-top: 4.2rem;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
}
.carousel__wrapper {
  width: 99rem;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .carousel__wrapper {
    width: 58rem;
  }
}
@media screen and (max-width: 767px) {
  .carousel__wrapper {
    width: 27rem;
  }
}
.carousel__cards {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -99rem;
}
@keyframes move-right {
  from {
    left: -99rem;
  }
  to {
    left: -198rem;
  }
}
@keyframes move-left {
  from {
    left: -99rem;
  }
  to {
    left: 0px;
  }
}
@media screen and (max-width: 1279px) {
  .carousel__cards {
    left: -58rem;
  }
  @keyframes move-right {
    from {
      left: -58rem;
    }
    to {
      left: -116rem;
    }
  }
  @keyframes move-left {
    from {
      left: -58rem;
    }
    to {
      left: 0px;
    }
  }
}
@media screen and (max-width: 767px) {
  .carousel__cards {
    -moz-column-gap: 0rem;
         column-gap: 0rem;
    height: 43.5rem;
    left: -27rem;
    order: 1;
  }
  @keyframes move-right {
    from {
      left: -27rem;
    }
    to {
      left: -54rem;
    }
  }
  @keyframes move-left {
    from {
      left: -27rem;
    }
    to {
      left: 0px;
    }
  }
}
.carousel__cards.transition-right {
  animation: move-right 1s;
  animation-fill-mode: forwards;
}
.carousel__cards.transition-left {
  animation: move-left 1s;
  animation-fill-mode: forwards;
}
.carousel .carousel__cards > .cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  -moz-column-gap: 9rem;
       column-gap: 9rem;
}
@media screen and (max-width: 1279px) {
  .carousel .carousel__cards > .cards {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .carousel .carousel__cards > .cards {
    -moz-column-gap: 0rem;
         column-gap: 0rem;
  }
}
.carousel__btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  cursor: pointer;
}
.carousel__btn.left {
  background-image: url("../assets/icons/arrow-left.svg");
}
@media screen and (max-width: 767px) {
  .carousel__btn.left {
    order: 2;
  }
}
.carousel__btn {
  margin-top: 1.9rem;
}
.carousel__btn.right {
  background-image: url("../assets/icons/arrow-right.svg");
}
@media screen and (max-width: 767px) {
  .carousel__btn.right {
    order: 3;
  }
}

.pet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  height: 43.5rem;
  background-color: #FAFAFA;
  border-radius: 0.9rem;
}
.pet:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet:hover .pet__btn {
  background-color: #F1CDB3;
}
.pet__name {
  padding-top: 3rem;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.pet__btn {
  margin-top: 3rem;
}

.know-rest-btn {
  margin-top: 6rem;
}
@media screen and (max-width: 767px) {
  .know-rest-btn {
    margin-top: 4.2rem;
  }
}

.wrapper-help {
  padding: 8rem 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .wrapper-help {
    padding: 4.2rem 0 4.2rem;
  }
}

.help__title {
  width: 31rem;
  justify-self: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .help__title {
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    color: #545454;
    text-align: center;
    width: 80%;
  }
}

.help__items {
  padding-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 12rem;
       column-gap: 12rem;
  row-gap: 5.5rem;
  justify-content: center;
}
@media screen and (max-width: 1279px) {
  .help__items {
    display: grid;
    -moz-column-gap: 8vw;
         column-gap: 8vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .help__items {
    padding-top: 4.2rem;
    row-gap: 3rem;
    -moz-column-gap: 10vw;
         column-gap: 10vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 70%;
    justify-items: center;
  }
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .help__item {
    width: 17rem;
    height: 11.3rem;
  }
}
@media screen and (max-width: 767px) {
  .help__item {
    width: 13rem;
    height: 8.7rem;
  }
}
.help__icon {
  display: inline-block;
  background: no-repeat center;
  height: 6rem;
  width: 6rem;
}
.help__icon_food {
  background-image: url("../assets/icons/icon-pet-food.svg");
}
.help__icon_transport {
  background-image: url("../assets/icons/icon-transportation.svg");
}
.help__icon_toys {
  background-image: url("../assets/icons/icon-toys.svg");
}
.help__icon_bowls {
  background-image: url("../assets/icons/icon-bowls.svg");
}
.help__icon_shampoos {
  background-image: url("../assets/icons/icon-shampoos.svg");
}
.help__icon_vitamins {
  background-image: url("../assets/icons/icon-vitamins.svg");
}
.help__icon_medicines {
  background-image: url("../assets/icons/icon-medicines.svg");
}
.help__icon_collars {
  background-image: url("../assets/icons/icon-collars-leashes.svg");
}
.help__icon_sleeping {
  background-image: url("../assets/icons/icon-sleeping-area.svg");
}
@media screen and (max-width: 767px) {
  .help__icon {
    background-size: contain;
    height: 5rem;
    width: 5rem;
  }
}
.help__name {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 3rem;
}
@media screen and (max-width: 767px) {
  .help__name {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 2rem;
  }
}

footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.wrapper-footer {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  .wrapper-footer {
    padding-top: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
}
@media screen and (max-width: 767px) {
  .wrapper-footer {
    row-gap: 4rem;
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
}

.footer__questions, .footer__visit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  padding-top: 1.6rem;
  width: 30.2rem;
  height: 23.4rem;
}
@media screen and (max-width: 1279px) {
  .footer__questions, .footer__visit {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__questions, .footer__visit {
    align-items: center;
    height: 21rem;
  }
}
.footer__visit {
  width: 30.4rem;
  height: 22rem;
}
@media screen and (max-width: 767px) {
  .footer__visit .contact__link {
    align-self: flex-start;
  }
}
.footer__img {
  margin-left: 2rem;
}
@media screen and (max-width: 1279px) {
  .footer__img {
    margin-left: 0;
    padding-top: 6.5rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__img {
    width: 86%;
    max-width: 30.4rem;
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
    width: 27rem;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.contact__text {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
}

.contact__icon_mail {
  display: inline-block;
  background: no-repeat center;
  height: 3.2rem;
  width: 4rem;
  background-image: url("../assets/icons/icon-email.svg");
}

.contact__icon_phone {
  display: inline-block;
  background: no-repeat center;
  height: 3.2rem;
  width: 4rem;
  background-image: url("../assets/icons/icon-phone.svg");
}

.contact__icon_adress {
  display: inline-block;
  background: no-repeat center;
  height: 3.2rem;
  width: 2.2rem;
  background-image: url("../assets/icons/icon-marker.svg");
}

.donation {
  background-color: #F6F6F6;
}

.wrapper-donation {
  padding: 7.7rem 0 10rem;
  display: flex;
  justify-content: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
@media screen and (max-width: 1279px) {
  .wrapper-donation {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 6rem;
  }
}
@media screen and (max-width: 767px) {
  .wrapper-donation {
    padding: 4.1rem 0 4.3rem;
    row-gap: 4.2rem;
  }
}

.donation__content {
  width: 38rem;
}
@media screen and (max-width: 1279px) {
  .donation__content {
    width: 54%;
  }
}
@media screen and (max-width: 767px) {
  .donation__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.donation__img {
  padding-top: 1.1rem;
  height: 26.1rem;
}
@media screen and (max-width: 1279px) {
  .donation__img {
    padding-top: 0;
    height: auto;
    width: 72%;
    max-width: 60rem;
  }
}
@media screen and (max-width: 767px) {
  .donation__img {
    width: 87%;
  }
}
.donation__title {
  width: 30rem;
}
@media screen and (max-width: 767px) {
  .donation__title {
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    color: #545454;
    text-align: center;
    width: 75%;
    margin: 0;
  }
}
.donation__subtitle {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .donation__subtitle {
    text-align: center;
    letter-spacing: 0;
    margin-top: 2.2rem;
  }
}
.donation__link {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 34.9rem;
  height: 4.3rem;
  background: #F1CDB3;
  border-radius: 9px;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 767px) {
  .donation__link {
    width: 28rem;
    margin-top: 2.3rem;
  }
}
.donation__link:hover {
  background: #FDDCC4;
  transform: scale(1.1);
}
.donation__ico {
  display: inline-block;
  background: no-repeat center;
  height: 2.3rem;
  width: 3rem;
  background-image: url("../assets/icons/credit-card.svg");
}
.donation__number {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .donation__number {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
  }
}
.donation__text {
  margin-top: 2rem;
  color: #B2B2B2;
  font-family: "Arial";
  font-style: italic;
  font-size: 1.2rem;
  line-height: 150%;
}
@media screen and (max-width: 767px) {
  .donation__text {
    text-align: justify;
    width: 83%;
    min-width: 28rem;
  }
}

.header_pets {
  top: 0;
  position: sticky;
  background: #FFFFFF;
}
.header_pets_not-stiky {
  position: relative;
}

.wrapper-header_pets {
  padding: 3rem 0 3rem;
}

.logo__title_pets {
  color: #545454;
}

.logo__subtitle_pets {
  color: #292929;
}

.navigation__link_pets {
  color: #545454;
}
.navigation__link_pets:hover {
  color: #292929;
}
.navigation__link_pets:active {
  color: #292929;
}

.wrapper-our-friends_pets {
  padding: 8rem 0 10rem;
}
@media screen and (max-width: 1279px) {
  .wrapper-our-friends_pets {
    padding: 8rem 0 7.6rem;
  }
}
@media screen and (max-width: 767px) {
  .wrapper-our-friends_pets {
    padding: 4.3rem 0 4.2rem;
  }
}

.pagination__wrapper {
  margin: 6rem 0 6rem;
  display: flex;
  width: 120rem;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .pagination__wrapper {
    margin: 3rem 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .pagination__wrapper {
    margin: 4.2rem 0 4rem;
  }
}

.pagination__pages {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.pagination__page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 3rem;
  width: 120rem;
}
@media screen and (max-width: 1279px) {
  .pagination__page {
    height: 136.5rem;
    overflow: hidden;
    display: grid;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .pagination__page {
    grid-template-columns: repeat(1, 1fr);
  }
}

.controls {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media screen and (max-width: 767px) {
  .controls {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}

.pagin__btn,
.pagin__page {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  height: 5.2rem;
  width: 5.2rem;
  background: none;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  cursor: pointer;
}

.pagin__btn:hover {
  background: #FDDCC4;
  border: none;
}

.pagin__btn.inactive {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  background: none;
  cursor: unset;
}

.pagin__page {
  background: #F1CDB3;
  border: none;
  cursor: unset;
}/*# sourceMappingURL=style.css.map */